.page-dashboard {
  #page-content-wrapper {
    background: #f5f5fb;
    min-width: 100vw;
  }

  #sidebar-wrapper {
    margin-top: 60px;
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;

    .sidebar-heading {
      padding: 0.875rem 1.25rem;
      font-size: 1.2rem;
    }

    .list-group {
      width: 15rem;
    }
  }

  #wrapper {
    &.toggled {
      #sidebar-wrapper {
        margin-left: 0;
      }
    }
  }

  .navbar-store {
    margin-top: 0;
    background-color: #f5f5fb;
    box-shadow: 0px 4px 5px #cacad1;

    @media (min-width: 991px) {
      background-color: transparent;
      box-shadow: none;
    }
  }

  .list-group-item {
    border: 0;
    font-size: 16px;
    color: #c5c5c5;

    &.active {
      background: linear-gradient(
        270deg,
        rgba(255, 113, 88, 0.32) 2%,
        rgba(255, 255, 255, 0) 100%
      );
      border-right: 4px solid #ff7158;
      color: #0c0d36;
    }
  }

  @media (min-width: 991px) {
    #sidebar-wrapper {
      margin-left: 0;
      margin-top: 0;
    }
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
    #wrapper {
      &.toggled {
        #sidebar-wrapper {
          margin-left: -15rem;
        }
      }
    }
  }

  .section-content {
    margin-top: 100px;

    @media (min-width: 991px) {
      margin-top: 20px;
      margin-left: 20px;
    }

    .product-photo {
      border-radius: 8px;
    }

    h5 {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #0c0d36;
    }

    .dashboard-title {
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      color: #0c0d36;
    }

    .subtitle-dashboard {
      line-height: 25px;
    }

    .product-title {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #c5c5c5;
    }

    .product-subtitle {
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      color: #0c0d36;
      margin-bottom: 20px;
    }

    .dashboard-subtitle {
      margin-top: 10px;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #9191a9;
    }

    .nav-pills {
      .nav-link {
        font-weight: normal;
        font-size: 18px;
        color: black;
        border-radius: 0;

        &.active {
          font-weight: 500;
          color: #ff7158;
          border-bottom: 2px solid #ff7158;
          background: none;
        }
      }
    }

    .tab-pane {
      .no-order {
        height: 150px;
        width: auto;
        display: block;
        margin: 50px 0 0 250px;

        @media (max-width: 767px) {
          margin: 50px auto 0;
        }
      }
      .order-subtitle {
        margin: 0 0 0 235px;
        display: block;
        font-size: 20px;

        @media (max-width: 767px) {
          margin: auto;
        }
      }
    }

    .gallery-container {
      .delete-gallery {
        display: block;
        position: absolute;
        top: -10px;
        right: 0;
      }
    }

    // All Review Style

    #review_form_wrapper #review_form {
      display: inline-block;
      width: 100%;
    }
    #review_form_wrapper #review_form .comment-form p > label {
      display: block;
      font-size: 14px;
      color: #666666;
      font-weight: 400;
    }

    #review_form_wrapper #review_form .comment-form p input[type='text'],
    #review_form_wrapper #review_form .comment-form p input[type='email'] {
      display: block;
      width: 100%;
      border: 1px solid #e6e6e6;
      outline: none;
      height: 39px;
      padding: 2px 10px;
      margin-bottom: 17px;
    }
    .wrap-product-detail .comment-form-rating > span {
      font-size: 14px;
      line-height: 20px;
      display: block;
      float: left;
      margin-right: 7px;
      color: #666;
    }
    .wrap-product-detail .comment-form-rating ~ p {
      margin-bottom: 0 !important;
    }
    .wrap-product-detail .comment-form-rating p.stars {
      display: inline-block;
      margin-bottom: 0 !important;
    }
    .comment-form-rating .stars input[type='radio'] {
      display: none;
    }
    .comment-form-rating .stars label {
      display: block;
      float: left;
      margin: 0;
      padding: 0 2px;
    }
    .comment-form-rating .stars label::before {
      content: '\f005';
      font-family: FontAwesome;
      font-size: 15px;
      /*color: #e6e6e6;*/
      color: #efce4a;
    }
    .comment-form-rating .stars input[type='radio']:checked ~ label::before {
      color: #e6e6e6;
    }
    .comment-form-rating .stars:hover label::before {
      color: #efce4a !important;
    }
    .comment-form-rating .stars label:hover ~ label::before {
      color: #e6e6e6 !important;
    }
    .comment-form-rating {
      margin-bottom: 15px;
    }
    // End All Review Style
  }
}
