.page-success {
  .row-login {
    min-height: 75vh;
  }
  .section-success {
    h2 {
      font-size: 28px;
      font-weight: 200;
      color: #0c0d36;
      margin-top: 0;
    }

    .btn-signup {
      background: #f3f3f3;
      color: #bbb;

      &:hover {
        background: #dddddd;
        color: rgb(101, 101, 101);
      }
    }
  }
}
