.component-categories {
  background: #f4f4f4;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;

  @media only screen and (min-width: 768px) {
    padding: 20px;
  }

  @media only screen and (max-width: 767px) {
    padding: 10px;
  }

  &:hover {
    transform: scale(1.05);
    text-decoration: none;
  }

  .categories-text {
    font-size: 18px;
    color: #0c0d36;
    text-align: center;
    font-weight: normal;
    margin-top: 12px;

    @media only screen and (max-width: 444px) {
      font-size: 16px;
    }
  }
}

.no-product {
  height: 150px;
  width: auto;
  display: block;
  margin: 50px auto 0;
}
