.nav-pills {
  .nav-link {
    font-weight: normal;
    font-size: 18px;
    color: black;
    border-radius: 0;

    &.active {
      font-weight: 500;
      color: #ff7158;
      border-bottom: 2px solid #ff7158;
      background: none;
    }
  }
}

.tab-pane {
  .no-order {
    height: 150px;
    width: auto;
    display: block;
    margin: 50px 0 0 250px;

    @media (max-width: 767px) {
      margin: 50px auto 0;
    }
  }
  .no-product {
    height: 150px;
    width: auto;
    display: block;
    margin: 50px auto 0;
  }
  .order-subtitle {
    margin: 0 0 0 235px;
    display: block;
    font-size: 20px;

    @media (max-width: 767px) {
      margin: auto;
    }
  }
}
.component-products {
  margin-bottom: 20px;

  &:hover {
    text-decoration: none;
  }

  .product-thumbnail {
    width: 100%;
    height: 250px;

    border-radius: 8px;

    overflow: hidden; //Klaw ada gambar yg besar, jadi kita buat overflow hidden
    position: relative;
    z-index: 1;

    &:hover,
    &:focus {
      .products-image {
        transform: scale(1.1);
      }

      .product-hover {
        transform: scale(1.1);
        opacity: 1;
      }

      .product-hover a:hover i {
        font-weight: 200;
        background: #f74d2e;
        color: #fff;
      }
      .product-hover a:hover .caption {
        opacity: 1;
        background: #f74d2e;
        color: #fff;
      }
    }

    .products-image {
      width: 100%;
      height: 100%;

      background-color: #ddd;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      transition: all 0.3s ease-in;
    }

    .product-hover {
      opacity: 0;
      position: absolute;
      left: 0;
      bottom: 80px;
      width: 100%;
      padding: 20px;
      text-align: center;
      transition: all 0.3s ease-in;
    }

    .product-hover a {
      text-decoration: none;
    }

    .product-hover a i {
      font-size: 20px;
      color: #f74d2e;
      background: #fff;
      border-radius: 50%;
      padding: 5px;

      transition: all 0.3s ease-in;
    }

    .product-hover a .caption {
      font-size: 12px;
      background: #f74d2e;
      padding: 5px;
      border-radius: 8px;
      color: #fff;
      opacity: 0;

      transition: all 0.3s ease-in;
    }
  }
  .products-text {
    font-size: 18px;
    font-weight: normal;
    color: #0c0d36;
    margin-top: 12px;
  }

  .products-price {
    font-size: 16px;
    font-weight: 500;
    color: #ff7158;
    margin-top: 12px;
  }
}

.search-bar {
  height: 40px;
  display: flex;
  width: 100%;
  max-width: 300px;
  padding-left: 16px;
  border-radius: 4px;
  input {
    width: 100%;
    height: 100%;
    border: 2px solid #d1d1d1;
    background-color: var(--search-bg);
    border-radius: 4px;
    font-family: var(--body-font);
    font-size: 15px;
    font-weight: 500;
    padding: 0 20px 0 40px;
    box-shadow: 0 0 0 2px rgb(134 140 160 / 2%);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 16px 48%;
    color: var(--theme-color);
    &::placeholder {
      font-family: var(--body-font);
      color: var(--inactive-color);
      font-size: 15px;
      font-weight: 500;
    }
  }
}

.findBtn {
  background: #f74d2e;
  border-color: #f74d2e;
  color: #fff;

  &.hover {
    background: #f74d2e;
    border-color: #f74d2e;
    color: #fff;
  }
}
